<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <thead>
        <tr>
          <td>DB</td>
          <td>Back-End</td>
          <td>Front-End</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= db %></td>
          <td><%= backEnd %></td>
          <td><%= frontEnd %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>